.headers {
    font-family: 'Oswald', sans-serif;
    background-color: rgba(68, 68, 64, 1);
    color: white;
    text-transform: uppercase;
    width: 85%;
    margin: 15px auto;
}

.headers h2 {
    padding: 15px;
}
